<a href="https://colab.research.google.com/github/Greta-gerasimov/Project_libraries/blob/dev/pandas_hw1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
import pandas as pd 
import numpy as np

In [28]:
authors = pd.DataFrame({'authors_id': [1,2,3],
                        'authors_names': ['Тургенев', 'Чехов','Островский']},columns=['authors_id','authors_names'])

In [29]:
authors

   authors_id authors_names
0           1      Тургенев
1           2         Чехов
2           3    Островский

In [30]:
books = pd.DataFrame({'authors_id': [1, 1 , 1, 2, 2 , 3, 3],
                      'book_title': ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
                      'price' : [450, 300, 350, 500, 450, 370, 290]}, columns = ['authors_id','book_title', 'price'] )

In [31]:
books

   authors_id            book_title  price
0           1           Отцы и дети    450
1           1                 Рудин    300
2           1     Дворянское гнездо    350
3           2      Толстый и тонкий    500
4           2       Дама с собачкой    450
5           3                 Гроза    370
6           3  Таланты и поклонники    290

In [32]:
authors_price = pd.merge(authors, books,on = 'authors_id', how = 'outer')
authors_price

   authors_id authors_names            book_title  price
0           1      Тургенев           Отцы и дети    450
1           1      Тургенев                 Рудин    300
2           1      Тургенев     Дворянское гнездо    350
3           2         Чехов      Толстый и тонкий    500
4           2         Чехов       Дама с собачкой    450
5           3    Островский                 Гроза    370
6           3    Островский  Таланты и поклонники    290

In [33]:
top5 = authors_price.nlargest(5,'price')
top5

   authors_id authors_names         book_title  price
3           2         Чехов   Толстый и тонкий    500
0           1      Тургенев        Отцы и дети    450
4           2         Чехов    Дама с собачкой    450
5           3    Островский              Гроза    370
2           1      Тургенев  Дворянское гнездо    350

In [34]:
max_price = authors_price.groupby('authors_names').agg({"price": "max"})
max_price

               price
authors_names
Островский       370
Тургенев         450
Чехов            500

In [35]:
min_price = authors_price.groupby('authors_names').agg({"price":"min"})
min_price

               price
authors_names
Островский       290
Тургенев         300
Чехов            450

In [36]:
mean_price = authors_price.groupby('authors_names').agg({"price":"mean"})
mean_price

                    price
authors_names
Островский     330.000000
Тургенев       366.666667
Чехов          475.000000

In [37]:
authors_stat = pd.merge(max_price, min_price,  on = "authors_names", how = "outer")
authors_stat

               price_x  price_y
authors_names
Островский         370      290
Тургенев           450      300
Чехов              500      450

In [38]:
authors_stat = pd.merge(authors_stat, mean_price, on = "authors_names", how = "outer")
authors_stat

               price_x  price_y       price
authors_names
Островский         370      290  330.000000
Тургенев           450      300  366.666667
Чехов              500      450  475.000000

In [39]:
authors_stat = authors_stat.rename(columns={'price_x':'max_price', 'price_y':'min_price','price':'mean_price'})
authors_stat

               max_price  min_price  mean_price
authors_names
Островский           370        290  330.000000
Тургенев             450        300  366.666667
Чехов                500        450  475.000000

In [40]:
authors_price['cover']= ('твердая' ,'мягкая','мягкая','твердая','твердая','мягкая','мягкая')
authors_price

   authors_id authors_names            book_title  price    cover
0           1      Тургенев           Отцы и дети    450  твердая
1           1      Тургенев                 Рудин    300   мягкая
2           1      Тургенев     Дворянское гнездо    350   мягкая
3           2         Чехов      Толстый и тонкий    500  твердая
4           2         Чехов       Дама с собачкой    450  твердая
5           3    Островский                 Гроза    370   мягкая
6           3    Островский  Таланты и поклонники    290   мягкая

In [41]:
books_info = pd.pivot_table(authors_price, values='price', index=['authors_names'],  columns=['cover'], aggfunc=np.sum)
books_info

cover          мягкая  твердая
authors_names
Островский      660.0      NaN
Тургенев        650.0    450.0
Чехов             NaN    950.0

In [42]:
books_info['мягкая'].fillna(0, inplace=True)
books_info

cover          мягкая  твердая
authors_names
Островский      660.0      NaN
Тургенев        650.0    450.0
Чехов             0.0    950.0

In [43]:
books_info['твердая'].fillna(0, inplace = True)
books_info

cover          мягкая  твердая
authors_names
Островский      660.0      0.0
Тургенев        650.0    450.0
Чехов             0.0    950.0

In [44]:
import pickle
book_info_pkl = pickle.dumps(books_info)
print(f'This is my pickled file:\n {book_info_pkl}')

This is my pickled file:
 b'\x80\x03cpandas.core.frame\nDataFrame\nq\x00)\x81q\x01}q\x02(X\x04\x00\x00\x00_mgrq\x03cpandas.core.internals.managers\nBlockManager\nq\x04cfunctools\npartial\nq\x05cpandas.core.internals.blocks\nnew_block\nq\x06\x85q\x07Rq\x08(h\x06)}q\tX\x04\x00\x00\x00ndimq\nK\x02sNtq\x0bbcnumpy.core.multiarray\n_reconstruct\nq\x0ccnumpy\nndarray\nq\rK\x00\x85q\x0eC\x01bq\x0f\x87q\x10Rq\x11(K\x01K\x02K\x03\x86q\x12cnumpy\ndtype\nq\x13X\x02\x00\x00\x00f8q\x14\x89\x88\x87q\x15Rq\x16(K\x03X\x01\x00\x00\x00<q\x17NNNJ\xff\xff\xff\xffJ\xff\xff\xff\xffK\x00tq\x18b\x89C0\x00\x00\x00\x00\x00\xa0\x84@\x00\x00\x00\x00\x00P\x84@\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00 |@\x00\x00\x00\x00\x00\xb0\x8d@q\x19tq\x1abcbuiltins\nslice\nq\x1bK\x00K\x02K\x01\x87q\x1cRq\x1d\x86q\x1eRq\x1f\x85q ]q!(cpandas.core.indexes.base\n_new_Index\nq"cpandas.core.indexes.base\nIndex\nq#}q$(X\x04\x00\x00\x00dataq%h\x0ch\rK\x00\x85q&h\x0f\x87q\'Rq((K\x01K\x02\x85q)h\x13X\x02\x00\x00\x00O8q*\x89\x88\x87q+Rq,(K\x03X\x01\x00\x00\x00|q-NNNJ\xff\xff\xff\xffJ\xff\xff\xff\xffK?tq.b\x89]q/(X\x0c\x00\x00\x00\xd0\xbc\xd1\x8f\xd0\xb3\xd0\xba\xd0\xb0\xd1\x8fq0X\x0e\x00\x00\x00\xd1\x82\xd0\xb2\xd0\xb5\xd1\x80\xd0\xb4\xd0\xb0\xd1\x8fq1etq2bX\x04\x00\x00\x00nameq3X\x05\x00\x00\x00coverq4u\x86q5Rq6h"h#}q7(h%h\x0ch\rK\x00\x85q8h\x0f\x87q9Rq:(K\x01K\x03\x85q;h,\x89]q<(X\x14\x00\x00\x00\xd0\x9e\xd1\x81\xd1\x82\xd1\x80\xd0\xbe\xd0\xb2\xd1\x81\xd0\xba\xd0\xb8\xd0\xb9q=X\x10\x00\x00\x00\xd0\xa2\xd1\x83\xd1\x80\xd0\xb3\xd0\xb5\xd0\xbd\xd0\xb5\xd0\xb2q>X\n\x00\x00\x00\xd0\xa7\xd0\xb5\xd1\x85\xd0\xbe\xd0\xb2q?etq@bh3X\r\x00\x00\x00authors_namesqAu\x86qBRqCe\x86qDRqEX\x04\x00\x00\x00_typqFX\t\x00\x00\x00dataframeqGX\t\x00\x00\x00_metadataqH]qIX\x05\x00\x00\x00attrsqJ}qKX\x06\x00\x00\x00_flagsqL}qMX\x17\x00\x00\x00allows_duplicate_labelsqN\x88sub.'

In [45]:
book_info_2 = pickle.loads(book_info_pkl)
print(f'This is my unpickled file:\n {book_info_2}')

This is my unpickled file:
 cover          мягкая  твердая
authors_names
Островский      660.0      0.0
Тургенев        650.0    450.0
Чехов             0.0    950.0